.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create equal columns that floats next to each other */
.column {
    flex: 33.33%;
    float: left;
}

.column img {
    vertical-align: middle;
    width: 100%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        /*width: 50%;*/
    }
}

.column100 {
    float: left;
    flex: 100%;
}

.column50 {
    float: left;
    flex: 50%;
}

.column75 {
    float: left;
    flex: 75%;
}

.column25 {
    float: left;
    flex: 25%;
}

.column33 {
    float: left;
    flex: 33%;
}

/* Responsive layout */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
    }

    .column50 {
        float: left;
        flex: 100%;
    }

    .column75 {
        float: left;
        flex: 100%;
    }

    .column25 {
        float: left;
        flex: 100%;
    }

    .column33 {
        float: left;
        flex: 100%;
    }
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
    }

    .column50 {
        float: left;
        flex: 100%;
    }

    .column75 {
        float: left;
        flex: 100%;
    }

    .column25 {
        float: left;
        flex: 50%;
    }

    .column33 {
        float: left;
        flex: 50%;
    }
}

/* ************************************************************ */
/* MOBILE VERSION ********************************************* */
/* ************************************************************ */

@media (pointer:none), (pointer:coarse) {



}