body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35)), url("../Images/poly-light.jpeg");
}

.column a {
    text-decoration: none;
    color: black;
}

.column a:visited {
    color: black;
}