body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35)), url("../Images/poly-light.jpeg");
}

.column a {
    text-decoration: none;
    color: black;
}

.column a:visited {
    color: black;
}

.column {
    max-width: 33.33%;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

header > * {
    margin: 0;
    padding: 50px 0;
}

#FilterBtnContainer {
    justify-content: center;
    align-content: center;
}

/* ************************************************************ */
/* MOBILE VERSION ********************************************* */
/* ************************************************************ */

@media (pointer:none), (pointer:coarse) {

    header {
        text-align: center;
        font-size: 4vw;
    }

    .column {
        flex: 50%;
        max-width: 50%;
    }

    .btn-filter {
        font-size: 4vw;
    }

    #FilterBtnContainer {
        gap: 20px;
    }

    .row.grid-cards,
    .row.grid-cards > .column.grid-cards {
        padding: 16px;
    }


}