.sidenav {
    position: fixed;
    /*height: 50%;*/
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sidenav.center {
    top: 50%;
    transform: translate(0, -50%);
}

.sidenav.right {

}

.sidenav.left {

}

.sidenav a {
    /*Common Styling*/
    position: relative;
    /*position: absolute;*/
    width: 100%;

    padding: 20px 20px;

    transition: 0.3s;

    text-decoration: none;
    font-size: 20px;
    color: white;
}

.sidenav.right a {
    right: -70%; /* Position outside of the screen */
    border-radius: 5px 0 0 5px; /* Rounded corners on the top left and bottom left side */
    text-align: left;

    padding-left: 32%;

}

.sidenav.left a {
    left: -70%; /* Position outside of the screen */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top left and bottom left side */
    text-align: right;

    padding-right: 32%;
}

.sidenav a:hover {
    /*Common Styling*/
}

.sidenav.right a:hover {
    /*right: -5px;*/
    right: -5px;
}

.sidenav.left a:hover {
    left: -5px;
}